<ion-content [fullscreen]="true" class="add-item-page">
  <div class="top-nav">
    <img
      src="../../../assets/homepage/iconLogo.png"
      class="brand-logo"
      alt="logo"
    />
    <ion-icon name="options-outline" class="menu-icon"></ion-icon>
  </div>

  <div class="bottom-sheet">
    <div class="header-row">
      <ion-icon
        name="arrow-back-outline"
        class="back-btn"
        (click)="goBack()"
      ></ion-icon>
      <h1 class="page-title">Add New Item</h1>
      <div class="spacer"></div>
    </div>

    <div class="camera-container">
      <div
        class="camera-placeholder"
        [style.background-image]="'url(' + cameraBackground + ')'"
      >
        <div class="dark-tint"></div>

        <div class="viewfinder top-left"></div>
        <div class="viewfinder top-right"></div>
        <div class="viewfinder bottom-left"></div>
        <div class="viewfinder bottom-right"></div>

        <div class="action-overlay">
          <div class="primary-action" (click)="takePhoto()">
            <ion-icon name="camera-outline"></ion-icon>
            <span>Take Photo</span>
          </div>

          <div class="secondary-action" (click)="uploadFromGallery()">
            <ion-icon name="cloud-upload-outline"></ion-icon>
            <span>Upload from Gallery</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-card">
      <div class="input-group">
        <label>Categories:</label>
        <div class="select-wrapper">
          <ion-select 
            [(ngModel)]="formData.category"
            interface="popover"
            placeholder="Select category"
            class="custom-select"
          >
            <ion-select-option 
              *ngFor="let category of categories" 
              [value]="category.toLowerCase()"
            >
              {{ category }}
            </ion-select-option>
          </ion-select>
        </div>
      </div>

      <div class="input-group">
        <label>Season:</label>
        <div class="select-wrapper">
          <ion-select 
            [(ngModel)]="formData.season"
            interface="popover"
            placeholder="Select season"
            class="custom-select"
          >
            <ion-select-option 
              *ngFor="let season of seasons" 
              [value]="season.toLowerCase().replace(' ', '-')"
            >
              {{ season }}
            </ion-select-option>
          </ion-select>
        </div>
      </div>

      <ion-button expand="block" class="submit-btn" (click)="addToWardrobe()">
        ADD TO WARDROBE
      </ion-button>
    </div>
  </div>
</ion-content>