<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>EXPLORE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wardrobe">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>WARDROBE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="outfit">
      <ion-icon name="shirt-outline"></ion-icon>
      <ion-label>OUTFIT</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
