<ion-content [fullscreen]="true" class="explore-page">
  <div class="top-nav">
    <img
      src="../../../assets/homepage/iconLogo.png"
      alt="logo"
      class="brand-logo"
    />
    <ion-icon name="options-outline" class="menu-icon"></ion-icon>
  </div>

  <div class="bottom-sheet">
    <div class="header-row">
      <ion-icon
        name="arrow-back-outline"
        class="back-btn"
        (click)="goBack()"
      ></ion-icon>
      <h1 class="page-title">Find Inspiration</h1>
      <div class="spacer"></div>
    </div>

    <div class="search-container">
      <div class="search-box">
        <ion-icon name="search-outline" class="search-icon"></ion-icon>
        <input
          type="text"
          placeholder="Search here..."
          [(ngModel)]="searchQuery"
        />
      </div>
      <ion-icon
        name="options-outline"
        class="filter-icon"
        (click)="openFilter()"
      ></ion-icon>
    </div>

    <div class="popular-searches">
      <h3 class="section-title">Popular Searches</h3>
      <div class="pill-container">
        <div class="pill" (click)="searchStyle('Formal')">Formal style</div>
        <div class="pill" (click)="searchStyle('Bohemian')">Bohemian Style</div>
        <div class="pill" (click)="searchStyle('Streetwear')">
          Streetwear Style
        </div>
        <div class="pill" (click)="searchStyle('Vintage')">Vintage Style</div>
        <div class="pill" (click)="searchStyle('Chic')">Chic Style</div>
      </div>
    </div>

    <div class="results-section">
      <h3 class="section-title">Results</h3>

      <div class="results-grid">
        <div
          class="result-card"
          *ngFor="let style of styleResults"
          (click)="viewStyle(style)"
        >
          <img
            [src]="style.image"
            class="card-img"
            [alt]="style.title"
            style="object-fit: cover; background: #f5f5f5"
          />
          <div class="card-content">
            <h4>{{ style.title }}</h4>
            <span class="subtitle">{{ style.tags }}</span>
            <p>Style Suggestion:<br />{{ style.suggestion }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-spacer"></div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="fav-postion">
    <ion-fab-button class="custom-fab" (click)="navigateToAddItem()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-bottom-nav></app-bottom-nav>
