<div class="nav-container">
  <div class="nav-item" routerLink="/home" routerLinkActive="active">
    <ion-icon name="home-outline"></ion-icon>
    <span>Home</span>
  </div>

  <div class="nav-item" routerLink="/explore" routerLinkActive="active">
    <ion-icon name="search-outline"></ion-icon>
    <span>Explore</span>
  </div>

  <div class="nav-item" routerLink="/wardrobe" routerLinkActive="active">
    <ion-icon name="grid-outline"></ion-icon>
    <span>Wardrobe</span>
  </div>

  <div class="nav-item" routerLink="/outfit" routerLinkActive="active">
    <ion-icon name="shirt-outline"></ion-icon>
    <span>Outfit</span>
  </div>

  <div class="nav-item" routerLink="/profile" routerLinkActive="active">
    <ion-icon name="person-outline"></ion-icon>
    <span>Profile</span>
  </div>
</div>
