<ion-content [fullscreen]="true" class="random-page">
  <div class="top-nav">
    <img
      src="../../../assets/homepage/iconLogo.png"
      alt="logo"
      class="brand-logo"
    />
    <ion-icon name="options-outline" class="menu-icon"></ion-icon>
  </div>

  <div class="bottom-sheet">
    <div class="page-header">
      <ion-icon
        name="arrow-back-outline"
        class="back-btn"
        (click)="goBack()"
      ></ion-icon>
      <h1 class="title">Random Outfit</h1>
      <div class="spacer"></div>
    </div>

    <div class="shake-section">
      <div class="shake-button" (click)="generateRandomOutfit()">
        <ion-icon name="apps-outline" class="shake-icon"></ion-icon>
        <span class="shake-text">Shake</span>
      </div>
      <p class="shake-instruction">Tap to generate a random outfit</p>
    </div>

    <div class="outfit-card">
      <h2 class="card-title">Your Random Outfit</h2>

      <ion-list lines="none" class="outfit-list">
        <ion-item class="outfit-item" *ngFor="let item of currentOutfit">
          <ion-thumbnail slot="start">
            <img [src]="item.image" [alt]="item.title" />
          </ion-thumbnail>
          <ion-label>
            <h3>{{ item.title }}</h3>
            <p>{{ item.category }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <div class="action-buttons">
        <ion-button expand="block" class="btn-save" (click)="saveOutfit()"
          >Save Outfit</ion-button
        >
        <ion-button
          expand="block"
          class="btn-retry"
          (click)="generateRandomOutfit()"
          >Try Again</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
